* {
    box-sizing:content-box;
    font-family: "Inter", sans-serif;
}
  
body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}

/*TOPBAR*/

.top-bar {
    background-color: #E8594A;
    color: black;
    position:sticky;
    width: 100%;
}
.top-bar>p {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left:1em;
    font-size: min(3vw, 16px);
    margin: 0;
}
span>a>i {
    justify-content:space-between;
    width: 2em;
    color: black;
}
i {
    font-size: 2em;
}
i:hover {
    color: white;
}
/*HEADER*/
.header {
    background-color: black;
    width: 100%;
    position:sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* padding:1em; */
}
.header>a>img {
    width: 150px;
    justify-content: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    
}
.header>i {
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 30px;
}
.header>div>a>i {
    /* padding-left: 0.25em;
    padding-right: 0.25em; */
    justify-content: space-between;
    width: 1.5em;
    color: white;
}
nav {
    display: none;
}
nav>ul>li>a {
    color:white;
    
    
}
nav>ul>li>a:hover {
    color:#E8594A
}
nav>ul>li {
    display: inline-block;
    padding: 0.5em;
}
ul {
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
}
header>i {
    margin-right:1em;
}
/*ARTICLES VEDETTES*/
.Slider {
    
    margin: auto;
}
.Slider>h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    color: #E8594A;
    font-weight: normal;
}
.section_Slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_Slider>a>img {
    width: 16vw;
    /* margin: 7px; */
    border: 4px solid #E8594A;
    border-left: 10px;
    border-top: 10px;
}
.section_Slider>a>i {
    color:#E8594A;
    font-size: 8vw;
    flex-shrink: 1;
}
.buttons_Slider {
    display: flex;
    justify-content: center;
}
.buttons_Slider>a>i {
    font-size:3vw;
    color:#E8594A;
    margin: 7px;
}
.section_Slider>a {
    margin: 1em;
}
/*BestSales*/
.bestSales1 {
    background-color: #E8594A;
    padding-left:1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.bestSales1>h2 {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    color: white;
}
.descBestSales1>img {
    width: 16vw;
    border: 6px solid black;
    border-left: 10px;
    border-top: 10px;
    margin: 1em;
    float: left;
}
.descBestSales1 {
    font-family: "Inter", sans-serif;
    text-align: right;
    /* display:flex; */
    flex-direction: column;
    align-items: flex-start;
    /* clear: both; */
}
.descBestSales1_p {
    clear:left;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 12px;
    
}
.descBestSales1>h3 {
    text-transform: uppercase;
    font-size: 0.9em;
}
.descBestSales1>span {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 10px;
}
span.price1 {
    color: black;
    font-weight: bolder;
    font-size: 1em;
    /* margin:auto 30px auto auto;*/
}
.descBestSales1>p {
    text-align:justify;
    clear:left;
    margin-bottom: -50px;
} 
/* .bestSales2 {
    clear:left;
} */
.descBestSales2>img {
    width: 16vw;
    border: 6px solid #E8594A;
    border-left: 10px;
    border-top: 10px;
    margin: 1em;
    float: right;
}
.descBestSales2_p {
    clear:right;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 12px;
    
}
/* .bestSales2>img::after {
    content: " ";
    clear:right;
} */
.descBestSales2>span {
    color: black;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 10px;
    /* padding: 5px auto 5px auto; */
}
.descBestSales2>h3 {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #E8594A;
}
.descBestSales2 {
    font-family: "Inter", sans-serif;
    text-align: left;
    /* display:flex; */
    flex-direction: column;
    align-items: flex-end;
    

}
.descBestSales2>p {
    text-align:justify;
    /* clear:both; */
} 
.bestSales2 {
    background-color: white;
    padding: 10px;
}
span.price2 {
    color: #E8594A;
    font-weight: bolder;
    font-size: 1em;
    /* margin:auto 30px auto auto;*/
}
.button1 {
    background-color: white;
    width: 70%;
    padding:1em;
    margin-left:auto;
    margin-right: auto;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    color: white;
    text-align:center;
}
.button1>a {
    text-decoration: none;
    color: #E8594A;
}
.button1:hover,
.button1:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.30em);
}
.button2 {
    background-color:#E8594A;
    width: 70%;
    padding:1em;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    color: black;
    text-align:center;
}
.button2:hover,
.button2:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.30em);
}
.button2>a {
    text-decoration: none;
    color:white;
}
/*CATALOGUE*/
.catalogue {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3em;;
}
.catalogue>h2 {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    color:#E8594A;  
}
.catalogue>p {
    font-size: 12px;
    text-align:center;
}
.grid {
    padding : 1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1em; */
}
.grid>img {
    width: 16vw;
    border: 6px solid #E8594A;
    border-left: 10px;
    border-top: 10px;
    justify-self: center;
    margin: 1em;
}
.grid>img:hover,
.grid>img:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.30em);
}
/*FOOTER*/
.footer {
    background-color:#E8594A ;
    padding: 1em;
    /* position: relative; */

}
.textFooter {
    display: flex;
    justify-content: space-evenly;
}
.textFooter>a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    /* padding:0.7em; */
    align-items: center;
    /* margin: 0px; */
    
}
.textFooter>p {
    font-size: 12px;
    /* justify-self: center; */
    display: block;
    /* padding:0.7em; */
}
.iconsCard {
    display: flex;
    justify-content: flex-end;
}
.iconsCard>i {
    font-size: 20px;
    margin: 0.2em;
}
/*LEGAL*/
.legal {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
.legal>span {
    color:#E8594A;
    font-weight: bold;
    display:block;
    text-align:center;
    font-size: 1.2em;
}
.legal>p {
    font-size: 12px;
}
/*FORMULAIRE*/
form {
    margin: 1.5em;
}
form>h2 {
    color:#E8594A;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}
form>p {
    font-size: 12px;
    text-align: center;
}
.formulaire {
    display: flex;
    flex-direction: column;
}
.prenom {
    width:40%;
}
.nom {
    width: 40%;
}
.mail {
    width: 50%;
}
label {
    font-weight: bold;
    margin: 0.3em;
}
input {
    border-radius: 10px;
}
textarea {
    border-radius: 10px;
}
/*PRODUCT*/
.description {
    background-color: #E8594A;
    padding: 1em;
    
    /* width: 100%; */
}
span>.priceA {
    padding: 1em;
}
.description>h2 {
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0;
}
.description>p {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;

}
.desc {
    text-align:right;
    margin-top: 10px;
    width:80%;
    margin:auto;
    
}
.desc >img {
    width: 25vw;
    margin:1em;
    border: 6px solid #E8594A;
    border-left: 10px;
    border-top: 10px;
    float:left;
}
.product {
    padding: 1em;
}
.buttonA>a {
     text-decoration: none;
     color:#E8594A;
     /*
    background-color: black;
    color:#E8594A;
    border-radius: 5px;
    padding:1em;/* */

}

.buttonB>a {
    text-decoration: none;
    color:white;/* 
    background-color:#E8594A;
    color:black;
    border-radius: 5px;
    padding:1em;  */
    
}
.buttonbuy {
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    /* padding: 1em; */
    
    /* width: 50%; */
}
.product>h1 {
    font-size: 24px;
    text-transform: uppercase;
    color:#E8594A;
    font-weight: bold;
    text-align: center;
}
.buttonbuy>.buttonA {
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1em;
    margin-bottom: 1em;
}
.buttonbuy>.buttonB {
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1em;
    margin-bottom: 1em;
}
.buttonbuy {
    clear:left;
    display: flex;
    justify-self: center;
    /* margin-left: auto;
    margin-right: auto; */
    width: 80%;
}
.desc>h3 {
    font-style: italic;
    font-weight: normal;
}
.priceA {
    color: #E8594A;
    font-weight: bold;
    font-size: 22px;
}
.buttonA {
    background-color: white;
    padding: 1em;
    border-style: none;
    border-radius:5px;
    border: 2px solid #E8594A ;
    /* margin-left:auto;
    margin-right: auto; */
    justify-content: center;
}
.buttonB {
    background-color: #E8594A;
    padding: 1em;
    border-style: none;
    border-radius: 5px;
}
.buttonA:hover,
.buttonA:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.30em);
}
.buttonB:hover, 
.buttonB:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.30em);
}
.search>h2 {
    font-weight: normal;
    color: #E8594A;
}
.search{
    text-align: center;
    margin: 1em;
}
.magnifying_glass {
    color:#E8594A;
    display:inline;
    padding: 1.5em;
    border: 1px solid #E8594A;
    font-size: 10px;
}
.recherche>input {
    border-radius: 0px ;
    height: 1em;
    padding: 1em;
}
@media screen and (min-width: 800px) {
    .product {
        /* width: 60%; */
        margin-left: auto;
        margin-right: auto;
    }
    .catalogue {
        width: 80%;
    }

    .legal {
        width: 40%;
    }.desc>img {
        width: 200px;
    }
    .description>p {
        width: 80%;
    }
    .product>h1{
        font-size: 28px;
    }
    .buttonbuy {
        max-width:450px;
    }
    .desc {
        max-width: 600px;
    }
    .section_Slider>a>img {
        max-width: 150px;
    }
    .section_Slider>a>i {
        font-size: 50px;
    }
    .buttons_Slider>a>i {
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .descBestSales1>.price1 {
        font-size: 20px;
    }
    .descBestSales2>.price2 {
        font-size: 20px;
    }
    .descBestSales1>h3 {
        font-size: 20px;
    }
    .descBestSales2>h3 {
        font-size: 20px;
    }
    .header>i {
        display:none;
    }
    .header>nav {
        display:inline-block;
        color: white;
    }
    .header>nav>ul>li>a {
        list-style: none;
        text-decoration: none;
        
    }
    .header>nav>ul>li {
        list-style: none;
    }
    .user-icon {
        order: 2;
    }
   
    .formulaire {
        width: 50%;
        margin: auto;
    }
    .descBestSales1>img {
        max-width: 200px;
    }
    .descBestSales1 {
        width: 20%;    
    }
    .descBestSales2>img {
        max-width: 200px;
    }
    .descBestSales2 {
        width: 20%;    
    }
   
}

@media screen and (min-width: 1050px) {
    .grid>img {
        width: 200px;
    }
    .descBestSales1 {
        width: 30%;
        margin: auto;
    }
    
    
}
@media screen and (min-width: 500px) {
    /* .buttonbuy>button {
        width: 300px;
    } */
    form {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .button1 {
        max-width:350px;
    }
    .button2 {
        max-width:350px;
    }
    .descBestSales2 {
        width: 50%;
        margin: auto;
    }
    .descBestSales2_p {
        width:60%;
        margin: auto;
        text-align: center;
    }
    .descBestSales1 {
        width: 60%;
        margin: auto;
    }
    .descBestSales1_p {
        width:60%;
        margin: auto;
        text-align: center;
    }
    .formulaire {
        width: 50%;
        margin: auto;
    }
    
}
    